body, html{
	margin:0;
	height:100%;
	overflow:scroll;
}

body{
	position:relative;
	background: url('img/defrag.svg');
	background-size:cover;
}

::-webkit-scrollbar{
	display:none;
}

::-moz-scrollbar{
	display:none;
}

@font-face{
	font-family: 'tccm';
	src:url('fonts/TCCM____.TTF') format('truetype');
}

@font-face{
	font-family: 'bebas';
	src:url('fonts/BebasNeue.otf') format('opentype');
}

.wrapper{
	height:100%;
}

.nav{
	height:15vh;
	width:100vw;
}

.logo{
	float:right;
	height:100%;
}

.logo img{
	height:38%;
	padding:3vh 2vh 0 0;
}


.home-body{
	position:absolute;
	top:15vh;
	left:0vw;
	height:63vh;
	width:100vw;
	transition:left 0.3s linear;
	text-align:center;
}

.content{
	margin:0 5vw 0 5vw;
	text-align:center;
	font-family: 'tccm';
	font-size: 5.5vh;
	color:#fff;
	overflow: scroll;
	padding-bottom: 10vh;
}

.title{
	margin: 7vh 0 5vh 0;
	font-family: 'bebas';
	font-size:10vh;
	color:#ffffff;
	line-height: 10vh;
}

.nav-opt{
	display:none;
	height:100%;
	width:40%;
	float:left;
	font-family: 'bebas';
	text-align: center;
	font-size: 6vh;
	line-height: 200%;
	color:#ffffff;
	transition:font-size 0.1s linear;
}

.hamburger{
	position:absolute;
	top:0;
	left:-110vw;
	height:100vh;
	width:110vw;
	background: #212121;
	z-index:2;
	transition:left 0.5s cubic-bezier(.55,.55,.26,1.37);
}

.ham-nav{
	height:15vh;
	width:100%;
}

.arrow{
	float:left;
	height:70%;
	padding:3vh 0 0 17vw;
}

.arrow img{
	height:40%;
}

.ham-body{
	font-family:'bebas';
	margin-left:17vw;
}


.ham-opt{
	font-size:5vh;
	color:#ffffff;
	padding-top:1vh;
}

.ham-content{
	font-size:5vh;
	color:#7195de;
}

.menu{
	height:70%;
	float:left;
	margin:2vh 0 0 5vw;
}

.menu img{
	height:60%;
}
.problem-body{
	text-align: center;
}

/*.problem-heading{
	font-family:'bebas';
	color:#ffffff;
	font-size: 5vh;
}*/

.c2, .c3, .c4, .c5, .c6, .c7, .c8{
	opacity:0;
	position:absolute;
	left:100vw;
	top:0;
}

.company-info{
	position:absolute;
	left:10vw;
	top:7vh;
	height: 60vh;
	width: 80vw;
    background-image: linear-gradient(19deg,#f96d00 0%,#23033c 100%);
    box-shadow: rgba(0,0,0,0.35) 10px 10px 40px;
    overflow:scroll;
}

.company-name{
	font-family:'bebas';
	color:#ffffff;
	text-align: left;
	margin:1vh 0 0 5vw;
	font-size:6vh;
}

.download{
	width:55vw;
	margin:0 0 0 13vw;
	padding:1vh;
	font-size: 3vh;
	border-radius:2vw;
	text-align: center;
	font-family: 'tccm';
	background: #ffffff;
	color:#867cf4;
	font-weight: bold;
}

.download:hover{
	cursor:pointer;
}

.about{
	width:55vw;
	margin:1vh 0 0 13vw;
	font-size: 3vh;
	font-family: 'tccm';
	color:#ffffff;
	text-align: left;
	padding-bottom:24vh;
}

.company-logo{
	min-height: 20vh;
	width: 60vw;
    position: absolute;
    top:45vh;
    left:35vw;
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.35) 10px 10px 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.company-logo img{
	height:27vh;
}

.down-arrow{
	position: absolute;
	width:8vw;
	top:33vh;
	left:90vw;
	transform: rotateZ(-90deg);
}

.up-arrow{
	position: absolute;
	width:8vw;
	top:33vh;
	left:2vw;
	transform: rotateZ(90deg);
}

.up-arrow:hover, .down-arrow:hover{
	cursor:pointer;
}

.title{
	margin:5vh 0 0 5vh;
	font-family: 'bebas';
	font-size:10vh;
	color:#ffffff;
	line-height: 10vh;
	/*text-align: center;*/
}

.bodies{
	position:absolute;
	top:15vh;
	left:100vw;
	height:63vh;
	width:100vw;
	transition:left 0.3s linear;
}


@media all and (min-width:800px){
	
	.nav{
		width:100vw;
	}

	.logo{
		float:left;
		height:15vh;
		margin-left:2vw;
	}

	.logo img{
		height:45%;
		padding:4vh 1vh 0 1vh;
	}

	.menu{
		display:none;
	}
	
	.home-body{
		height:65vh;
		width:100vw;
	}

	.title{
		font-family: 'bebas';
		font-size:15vh;
		color:#ffffff;
		line-height: 14vh;
	}
	
	.content{
		font-size: 5.5vh;
	}

	.nav-opt{
		display:block;
		width:20%;
		float:right;
		font-size: 6vh;
		line-height: 250%;
	}

	.nav-opt:hover{
		cursor:pointer;
		font-size:6.5vh;
	}

	.hamburger{
		display:none;
	}

	.company-info{
		height: 55vh;
		width: 44vw;
		position: absolute;
		top:11vh;
		left:30vw;
	    background-image: linear-gradient(19deg,#f96d00 0%,#23033c 100%);
	}
		
	.company-name{
		margin:1vh 0 0 2vw;
		font-size: 6vh;
	}
	.download{
		width:26vw;
		margin:1vh 0 0 6vw;
		padding:1vh;
		border-radius:1vw;
	}

	.about{
		width:26vw;
		margin:2vh 0 10vh 6vw;
		font-size: 3.3vh;
	}

	.company-logo{
		min-height: 30vh;
		width: 30vw;
	    position: absolute;
	    top:40vh;
	    left:65vw;
	    background: #ffffff;
	}

	.company-logo img{
		width:20vw;
	}
	
	.up-arrow{
		position: absolute;
		width:6vw;
		top:3vh;
		left:50vw;
		transform:rotateZ(180deg);
	}

	.down-arrow{
		position: absolute;
		width:6vw;
		top:68vh;
		left:50vw;
		transform:rotateZ(0deg);
	}

	.title{
		margin:10vh 0 0 10vw;
		font-family: 'bebas';
		font-size:15vh;
		color:#ffffff;
		line-height: 14vh;
	}
}